*.o
generate_codebook
/test_codebook_read
/after_output
/fabmap_exec
/libHIK/.deps
/libHIK/build_codebook
/libHIK/transform
/libHIK/bsvm-2.06/bsvm-predict
/libHIK/bsvm-2.06/bsvm-train
/libHIK/bsvm-2.06/dtron/tron.a
/libHIK/bsvm-2.06/f2c/f2c.a
/libHIK/bsvm-2.06/svm-scale
/libHIK/bsvm-predict
/libHIK/bsvm-train
/libHIK/generate-data
/libHIK/hik-bsvm-predict
/libHIK/hik-cluster
/libHIK/hik-predict
/libHIK/libsvm-2.89/svm-predict
/libHIK/libsvm-2.89/svm-scale
/libHIK/libsvm-2.89/svm-train
/libHIK/svm-predict
/libHIK/svm-train
/new-college-sift-1000-kmeans.cb
